{% load static %}

<section id="termos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Termos de Privacidade</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-eye-slash fa-4x text-primary mb-3 sr-icons"
                                                         data-aos="zoom-in" data-aos-duration="200"
                                                         data-aos-once="true"></i>
                    <h3 class="mb-3" style="font-family: Montserrat, sans-serif;">Conteúdo Adulto</h3>
                    <p class="text-muted mb-0"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s.<br></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-eye fa-4x text-primary mb-3 sr-icons"
                                                         data-aos="zoom-in" data-aos-duration="200"
                                                         data-aos-delay="200" data-aos-once="true"></i>
                    <h3 class="mb-3" style="font-family: Montserrat, sans-serif;">18 Anos ou Mais</h3>
                    <p class="text-muted mb-0"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s.<br></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-remove fa-4x text-primary mb-3 sr-icons"
                                                         data-aos="zoom-in" data-aos-duration="200"
                                                         data-aos-delay="400" data-aos-once="true"></i>
                    <h3 class="mb-3" style="font-family: Montserrat, sans-serif;">Não</h3>
                    <p class="text-muted mb-0"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s.<br></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-check fa-4x text-primary mb-3 sr-icons"
                                                         data-aos="fade" data-aos-duration="200"
                                                         data-aos-delay="600" data-aos-once="true"></i>
                    <h3 class="mb-3" style="font-family: Montserrat, sans-serif;">Sim</h3>
                    <p class="text-muted mb-0"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s.<br></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col link-termos">
                    <a href="#">Termos de Privacidade</a>
                </div>
            </div>
        </div>

    </div>
</section>