{% load static %}

<section id="galeria" class="p-0">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            {% for obj in object_list %}
                <div class="col-sm-6 col-lg-4 col-xl-3 offset-xl-0">
                    <a class="portfolio-box" href="{% url 'detail' slug=obj.slug %}">
                        <img class="img-fluid" src="{{ obj.image.url }}" alt="{{ obj.first_name }} - photo">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <span>{{ obj.shortDescription }}</span>
                                </div>
                                <div class="project-name">
                                    <span>{{ obj.first_name }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>