{% load static %}

<ul>
    <li><span class="font-400">Nome:</span> <span class="profile-right">{{ object.first_name }}</span></li>
    <li><span class="font-400">Sobrenome:</span> <span class="profile-right">{{ object.last_name }}</span></li>
    <li><span class="font-400">Idade:</span> <span class="profile-right">{{ object.age }}</span></li>
    <li><span class="font-400">Etnia:</span> <span class="profile-right">{{ object.ethnicity }}</span></li>
    <li><span class="font-400">Cachê/hr:</span> <span class="profile-right">{{ object.cacheForHours }}</span></li>
    <li><span class="font-400">Gênero: </span> <span class="profile-right">{{ object.genre }}</span></li>
    <li><span class="font-400">Peso: </span> <span class="profile-right">{{ object.weight }}</span></li>
    <li><span class="font-400">Olhos: </span> <span class="profile-right">{{ object.eye }}</span></li>
    <li><span class="font-400">Altura: </span> <span class="profile-right">{{ object.height }}</span></li>
    <li><span class="font-400">Busto: </span> <span class="profile-right">{{ object.bust }}</span></li>
    <li><span class="font-400">Cintura: </span> <span class="profile-right">{{ object.waist }}</span></li>
    <li><span class="font-400">Bunda: </span> <span class="profile-right">{{ object.butt }}</span></li>
</ul>