{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}GP Capital{% endblock %}</title>
    <meta name="twitter:description"
          content="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.">
    <meta name="twitter:image" content="{% static 'assets/img/GP_512x512.png' %}">
    <meta property="og:type" content="website">
    <meta name="description"
          content="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.">
    <meta property="og:image" content="{% static 'assets/img/GP_512x512.png' %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="GPCapital">
    <meta name="theme-color" content="#5C013C">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/GP_16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/GP_32x32.png' %}">
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'assets/img/GP_180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/GP_192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'assets/img/GP_512x512.png' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}#page-top">
            <img class="nav-logo" src="{% static 'assets/img/GP_3nav2.png' %}" alt="bg">
        </a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#galeria">Galeria</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#termos">Termos</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#anuncie">Anuncie</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#contato">Contato</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" role="button" href="{% url 'gallery' %}#">Galeria</a>
            <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-expanded="false" type="button" style="background-color: #4F012C;"></button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">

                {% for item in ethnicitys %}
                    <a class="dropdown-item" role="presentation" href="#">{{ item }}</a>
                {% endfor %}

                <div class="dropdown-divider" role="presentation"></div>
                <a class="dropdown-item" role="presentation" href="{% url 'gallery' %}">Todas</a>
            </div>
        </div>
    </div>
</nav>

{% block container %}{% endblock %}

<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3>
                <a href="#">
                    <img class="img-logo-footer" src="{% static 'assets/img/GP_3nav2.png' %}">
                </a>
            </h3>
            <p class="links">
                <a href="#">Inicio</a><strong> · </strong>
                <a href="#">Termos</a><strong> · </strong>
                <a href="#">Anuncie</a><strong> · </strong>
                <a href="#">Contato</a><strong> · </strong>
                <a href="#">Garotas</a><strong> · </strong>
                <a href="#">Galeria</a>
            </p>
            <p class="company-name">GPCapital © 2019</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div>
                <i class="fa fa-whatsapp footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">55 99999 9999</p>
            </div>
            <div>
                <i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">55 99999 9999</p>
            </div>
            <div>
                <i class="fa fa-envelope footer-contacts-icon"></i>
                <p><a href="#" target="_blank"><br><span
                        style="text-decoration: underline;">email@example.com</span><br></a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>Sobre a GPCapital</h4>
            <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s.<br></p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                    class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i
                    class="icon ion-social-whatsapp-outline"></i></a></div>
        </div>
    </div>
</footer>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="{% static 'assets/js/creative.js' %}"></script>
<script src="{% static 'assets/js/bs-animation.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="{% static 'assets/js/ml-video.js' %}"></script>
<script src="{% static 'assets/js/Model-Gallery-And-Profile.js' %}"></script>
</body>

</html>