{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ block.super }} - Melhores garotas de programa da capital
{% endblock %}

{% block container %}

    <main id="main" style="margin: 60px auto">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        {% for client in clients %}
                            <li class="list-group">{{ client.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>

{% endblock %}