{% load static %}

<footer style="margin-top: 0px">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3>
                <a href="#">
                    <img class="img-logo-footer" src="{% static 'assets/img/GP_3nav2.png' %}">
                </a>
            </h3>
            <p class="links">
                <a href="#">Inicio</a><strong> · </strong>
                <a href="#">Termos</a><strong> · </strong>
                <a href="#">Anuncie</a><strong> · </strong>
                <a href="#">Contato</a><strong> · </strong>
                <a href="#">Garotas</a><strong> · </strong>
                <a href="#">Galeria</a>
            </p>
            <p class="company-name">GPCapital © 2019</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div>
                <i class="fa fa-whatsapp footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">55 99999 9999</p>
            </div>
            <div>
                <i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">55 99999 9999</p>
            </div>
            <div>
                <i class="fa fa-envelope footer-contacts-icon"></i>
                <p><a href="#" target="_blank"><br><span
                        style="text-decoration: underline;">email@example.com</span><br></a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>Sobre a GPCapital</h4>
            <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s.<br></p>
            <div class="social-links social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="icon ion-social-whatsapp-outline"></i></a>
            </div>
        </div>
    </div>
</footer>