{% load static %}

<meta property="og:type" content="website">
<meta name="description" content="Lorem Ipsum is simply dummy text of the printing and typesetting industry.
     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.">
<meta property="og:image" content="{% static 'assets/img/GP_512x512.png' %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="GPCapital">
<meta name="theme-color" content="#5C013C">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/GP_16x16.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/GP_32x32.png' %}">
<link rel="icon" type="image/png" sizes="180x180" href="{% static 'assets/img/GP_180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/GP_192x192.png' %}">
<link rel="icon" type="image/png" sizes="512x512" href="{% static 'assets/img/GP_512x512.png' %}">
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="manifest" href="{% static 'manifest.json' %}">