{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ block.super }} - Melhores garotas de programa da capital
{% endblock %}
{% block container %}
    <header class="masthead text-center text-white d-flex"
            style="background-image: url('{% static 'assets/img/Mulheres-Fashion-26.jpg' %}');">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Entrar</strong>
                    </h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 mx-auto text-left">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    {% include 'component/terms.html' %}
    {% include 'component/advertise.html' %}
    {% include 'component/contact.html' %}
{% endblock %}